@mixin section-title {
  font-weight: 700;
  font-size: 3rem;
  color: $links;
  letter-spacing: -2pt;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

@mixin text {
  text-align:left;
  font-size: 1.35rem;
  font-weight: 200;
}