@import "./colors";
@import "./mixins";

.about {
  display:flex;
  flex-direction: column;
  

  &__title {
    @include section-title;
  }

  &__description {
    @include text;

    span {
      font-weight: 600;
      color: $title;
    }
  }

  &__technologies {
    margin-bottom: 8rem;
  }
}