@import "./colors";
@import "./mixins";

.svg-inline--fa {
    height: 4rem;
    color: $text;

    &:hover {
        color: $links;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    &__title {
        @include section-title;
        align-self: flex-start;
    }

    &__description {
        @include text;
        margin-bottom: 6rem;
    }
    &__sm {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 80px;
        justify-content: space-around;
        padding: 0px;

        &-item {
            margin: 0px 0px 0px 0px;
            list-style: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .svg-inline--fa {
        height: 2rem;
    }
}