@import "./colors";

.bg-main {
    background-color: $background;
}

.navbarmoves {
    z-index: 10;
    font-weight: 600;
    //This important is necessary to override the default style from Boostrap
    position: fixed !important;
    top: 0px;
    height: 6rem;
    width: 100%;
}

.visible {
    top: 0;
    transition: top 0.10s ease-out;
    background-color: #190019ac;
}

.hidden {
    top: -20rem;
    transition: top 1s ease-out;
}

.navbar-left {
    justify-content: center;
    font-size: 1.50rem;
}


.navbar-right {
    align-items: center;

    &__item {
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;

        &:hover, 
        &:focus {
            background-size: 100% 2px;
        }
    }
}

#link {
    font-size: 1.50rem;
}