@import "./colors";
@import "./mixins";

.card {
  display: flex;
  flex-direction: column;
  border: solid 5px $secondary !important;
  border-radius: 5px !important;

  &__image {
    height: 17.5rem;
    width: 100%;
    border-radius: 0px !important;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    background-color: $secondary;
    height: 100px;

    &-text {
      width: auto;
    }

    &-skills {
      display: flex;
      flex-direction: row;
      color: $text;
      font-size: 1.20rem;
    }

    &-link {
      display: flex;
      justify-content: flex-end;
      width: 10px;

      .svg-inline--fa {
        height: 2.25rem;
        color: $text;
      }
    }
  }
}

#card-title {
  color: $projecttitle;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}