@import "./colors";
@import "./mixins";

.projects {
  &__title {
    @include section-title;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 992px) {
  .projects {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
      margin-bottom: 7rem;
    }
  }
}